<%- include('partials/header.ejs'); -%>

<header>
  <div id="title">
    <h1>Books showcase</h1>
  </div>
  <p><strong>Ta strona zawiera przegląd książek które przeczytałam. Znajdziesz tu moje opinie i notatki na temat różnych publikacji.</strong></p>
</header>

<article>
  <div class="overview_books">
    <div>
      <h2>Służące do wszystkiego</h2>
    </div>
    <div>
      <h2>Zbrodnia i kara</h2>
    </div>
    <div>
      <h2>W pustyni i puszczy</h2>
    </div>
    <div>
      <h2>Lalka</h2>
    </div>
    <div>
      <h2>Zanim wystygnie kawa</h2>
    </div>
  </div>
<article>

<%- include('partials/footer.ejs'); -%>