body{
  background: linear-gradient(rgba(200, 181, 157, 0.6), rgba(186, 168, 143, 0.6)),
  url("/background.jpg") no-repeat center center;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  height: auto;
  margin: 0;
  position: relative;
  box-sizing: border-box;
}

.review{
  background-color: #f8f9fa;
  position: relative;
  overflow: hidden;
}

img{
  float: left;
  margin-right: 15px
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  font-weight: normal;
}

p{
  text-align: justify;
}

button{
  margin-right: 15px
}

.editRate{
  display: flex;
}

.editSubmit{
  display: none;
}

.notes{
  background-color: #f8f9fa;
  clear: both;
  width: 50%;
  margin: 20px auto;
  border-radius: 5px;
  box-shadow: 2px 3px 25px 1px rgb(72, 52, 32);
}

