body{
  background: linear-gradient(rgba(200, 181, 157, 0.6), rgba(186, 168, 143, 0.6)),
  url("/background.jpg") no-repeat center center;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  height: auto;
  margin: 0;
  position: relative;
  box-sizing: border-box;
}

#title{
  background: linear-gradient(to right, #441b0c, #c87b00, #e7ee94);
  color: white;
  text-align: center;
  padding: 0.5rem;
  position: relative
}

header > p{
  text-align: center;
  font-size: 1.5rem;
}

.overview_books{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.book{
  background-color: #f8f9fa;
  border-radius: 5px;
  padding: 0;
  margin: 0;
  height: 700px;
  max-width: 500px;
}

.book:hover{
  transform: translateY(-20px);
  cursor: pointer;
}

.container{
  width: 80%;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  display: none;
  position: relative;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.error{
  color: red;
}

img{
  width: 100%;
  height: 80%;
}

.stars_rating{
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  position: relative;
  user-select: none;
}

.star{
  background-color: unset;
  border: none;
  color: gold;
  font-size: 2rem;
  padding: 0;
  margin: 0;
}

.star.active {
  color: gold;  
}

@media(max-width: 768px) {
  .book{
    margin: 20px 0;
  }
}