body{
  background: linear-gradient(rgba(200, 181, 157, 0.6), rgba(186, 168, 143, 0.6)),
  url("/background.jpg") no-repeat center center;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  height: auto;
  margin: 0;
  position: relative;
  box-sizing: border-box;
}

#title{
  background: linear-gradient(to right, #441b0c, #c87b00, #e7ee94);
  color: white;
  text-align: center;
  padding: 0.5rem;
  font-size: 1.5rem;
  position: relative
}

p{
  text-align: center;
  font-size: 1.5rem;
}